/*
font: 16px / 26px
*/

header[role="banner"] {
    background: pink;
}

#bella-headshot {
    position: relative;
    margin: 13px 0;
    width: 200px;
    height: 200px;
    border: 10px solid #fff;
    box-shadow: 0 2px 5px 0 #3e2f31;
    outline: 1px solid #d9d9d9;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    cursor: pointer;
}
#bella-headshot:hover {
    -webkit-transform: rotate(2deg) scale(1.05);
    -moz-transform:    rotate(2deg) scale(1.05);
    -ms-transform:     rotate(2deg) scale(1.05);
    -o-transform:      rotate(2deg) scale(1.05);
    transform:         rotate(2deg) scale(1.05);
}

.row {
    margin-bottom: 26px;
}